# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.egg-info/
.env
db.sqlite3

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE and Editor specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook files
.ipynb_checkpoints
